*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.box{
    height: 100%;
    width: 100%;
}
.box img{
    height: 100%;
    width: 100%;

}
.box nav{
    width: 100%;
    height: 18%;
    background-color: white;
    color:black;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
}
.box nav:hover{
    background-color: black;
    color: white;
}

.box nav ul{
    display: flex;
    justify-content:flex-start;
    gap: 50px;
    margin-top: 25px;
    margin-left: 150px;
    list-style: none;
    font-size: 20px;
}

nav ul :hover{
    color: red;
}
/* .box nav ol{
    display: flex;
    justify-content:flex-start;
    gap: 70px;
    margin-top: 40px;
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
nav ol:hover{
    color: red;
} */
.box nav img{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 1px;
    left: 45%;
}
.content h1{
    position: absolute;
    top: 35%;
    left: 3%;
    font-size: 45px;
    color: white;
    animation: text 3s 1;
    font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    } 
    30%{
        letter-spacing:25px ;
        margin-bottom: -40px;
    }
 85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
 }
}
.content span{
    color: red;
} 
.content p{
    position: absolute;
    top: 70%;
    left: 3%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);

   
}
.content button{
    position: absolute;
    top: 86%;
    left: 10%;
    font-size: 20px;
    color:black;
    background-color: red;
    border: none;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px black;
    cursor: pointer;
}
.content button:hover{
    background-color: white;
}
.page2{
    width: 100%;
    height: 100%;
position: relative;

}


.page2 h2{
    margin-top: 10px;
    margin-left: 220px;
    /* font-weight: bold; */
    /* font-family: roboto; */
    color: #262626;
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
   
}

.page2 h3{
    width: 13%;
    height: 6%;
    margin-top: 33px;
    margin-left: 400px;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(168, 109, 109);
   border: 1px solid brown;
   display: inline-block;
   padding-left: 24px;
   padding-top: 4px;
   border-radius: 45%;
}
.page2 h1{
margin-top: 5px;
margin-left: 350px;
/* font-weight: 700;
font-family: sans-serif; */
font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;

}
.page2 h1:hover{
    color: red;
}

.box1 img:hover{
transform: scale(1.2);
}
.box2 img:hover{
    transform: scale(1.2);
 }
 .box3 img{
    
    width: 20%;
    height: 43%; 
    position: absolute;
     top: 38%;
      margin-left: 490px;  
      border: 1px solid black;
 }
 .box3 img:hover{
    transform: scale(1.2);
 }
 .box4 img{
    
    width: 20%;
    height: 43%; 
    position: absolute;
     top: 38%;
      margin-left: 750px;  
      border: 1px solid black;
 }
 .box4 img:hover{
    transform: scale(1.2);
 }
 .page2 .box1 button:hover{
background-color: black;
 }
.page3{
    width: 100%;
    height: 100%;
    background-color:pink;
    position: relative;
}

.page3 .left img{
    width: 460px;
    height: 400px;
    margin-top: 25px;
    margin-left: 20px;
}
.left h1{
    font-size: 20px;
    position: absolute;
    top: 85%;
    left: 3%;
    color: white;
}
  .left img :hover{
    transform: scale(1.2);
  }
.page3 .right img{
    width: 460px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
     margin-top: 25px; 
    margin-right: 20px; 
 }
 .right h1{
    font-size: 20px;
    position: absolute;
    top: 85%;
    right: 3%;
    color: black;
}
.left img:hover{
    transform: scale(1.1) rotate(180deg);
    

  } 
 .right img:hover{
    transform: scale(0.8) rotate(180deg);
 } 
   
 .page4{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    position: relative;
    display: flex;
    flex-direction: nowrap;
    justify-content: start;

 }
  .page4 .slide{
    width: 100%;
    height: 5%;
    display: inline-block;

 }
 .slide h4{
    animation: 7s slide infinite linear;
    padding-right: 80px;
    margin-top: 60px;
    font-size: 30px;
    font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
 }
 @keyframes slide{
 from{
    transform: translateX(0);
 }
 to{
    transform: translateX(-100%);
 }
}
.slide:hover h4{
    animation-play-state: paused;
    background-color: black;
    color: white;
}
.img1 img {
    width: 250;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 20px;

    
 }
 
 .img2 img{
    width: 250px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 30%;
    
 
      
}
 .img3 img{
    width: 250px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 59%;
   
 }

 .img4 img{
    width: 250px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 88%;
 }
 

.page5{
    width: 100%;
    height: 60%;
    background-color:olivedrab;
    position: relative;
}
.page5  .p1 img{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 80px;
}
/* .img1 img:hover{
   transform: translate(100%);
  } */